{% extends 'base.html' %} {% block content %}

<a href="/about"> About</a>
| |
<a href="/contact">Contact</a>
<h1>The home page changed using rendering.</h1>

<table>
  <tr>
    <th>S. No</th>
    <th>Name</th>
    <th>Age</th>
    <th>Can vote</th>
  </tr>

  {% for people in peoples %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ people.name }}</td>
    <td>{{ people.age }}</td>
    <td>{% if people.age >= 18 %} Yes {% else %} No {% endif %}</td>
  </tr>
  {% endfor %}
</table>
<br />
{{varsity}} {% endblock %}
